/* IAWT */

.mainMenuPane {
    -fx-background-size: stretch;
    -fx-background-image: url("../../background/background.jpg");
    -fx-cursor: disappear;
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: "Times";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-image: url("../../background/button.png");
    -fx-background-size: stretch;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-image: url("../../background/button_hovered.png");
}

.button:pressed {
    -fx-translate-y: 2;
}

.main-menu-button {
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-font-family: "Times";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-image: url("../../background/button.png");
    -fx-background-size: stretch;
    -fx-cursor: disappear;
    -fx-background-color: transparent;
}

.main-menu-button:hover {
    -fx-background-image: url("../../background/button_hovered.png");
}

.main-menu-button:pressed {
    -fx-translate-y: 2;
}

.normal-button {
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-font-family: "Times";
    -fx-background-color: transparent;
    -fx-background-image: url("../../background/button.png");
    -fx-background-size: stretch;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.normal-button:hover {
    -fx-background-image: url("../../background/button_hovered.png");
}

.normal-button:pressed {
    -fx-translate-y: 2;
}

.inactive-button {
    -fx-background-color: darkgray;
    -fx-text-fill: lightgray;
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-font-family: "Times";
    -fx-cursor: none;
}

.inactive-button:pressed {
    -fx-background-color: #8b0000;
}

.label {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-font-family: "Times";
    -fx-font-size: 30;
    -fx-text-alignment: center;
}

.popup-container {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-spacing: 2em;
}

.welcomePane {
    -fx-background-image: url("../../background/564835.jpg");
    -fx-background-size: stretch;
}

.loginPane {
    -fx-background-image: url("../../background/678317.jpg");
    -fx-background-size: stretch;
}

.registerPane {
    -fx-background-image: url("../../background/register_background.jpg");
    -fx-background-size: stretch;
}

.password-field {
    -fx-effect: dropshadow(gaussian, black, 10, .3, 5, 5);
    -fx-font-size: 25;
    -fx-background-color: rgba(255, 200, 200, .8);
    -fx-alignment: center;
}

.text-field {
    -fx-effect: dropshadow(gaussian, black, 10, .3, 4, 4);
    -fx-font-family: "Serif";
    -fx-font-size: 25;
    -fx-background-color: white;
    -fx-alignment: center;
}

.field-label{
    -fx-font-size: 28;
    -fx-font-family: "Serif";
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, .3);
}